<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <title>TEST</title>

</head>
<style>
    body {
        background-color: aquamarine;
    }

    table {
        text-align: center;
    }
</style>

<body>
    <table border="1" align="center">
        <tr><td colspan="2"><%=DATA[0].testId%>  <%=DATA[0].testName%></td></tr>
        <tr>
            <td>includeId</td>
            <td>includeObject</td>
        </tr>
        <%for(let i=0;i<DATA.length;i++){%>
        <tr id="tr<%=i%>">
            <td><%=DATA[i].test_table_include.includeId%></td>
            <td><%=DATA[i].test_table_include.includeObject%></td>
        </tr>
        <%}%>
        <tr><td colspan="2"><button onclick="history.back()">返回</button></td></tr>
    </table>
</body>
</html>